<main class="bg-gray-50 dark:bg-gray-900">
    <div class="flex flex-col items-center justify-center px-6 pt-8 mx-auto md:h-screen pt:mt-0 dark:bg-gray-900">
      <a href="https://flowbite-admin-dashboard.vercel.app/" class="flex items-center justify-center mb-8 text-2xl font-semibold lg:mb-10 dark:text-white">
          <img src="https://flowbite-admin-dashboard.vercel.app/images/logo.svg" class="mr-4 h-11" alt="FlowBite Logo">
          <span id="banner-message">Welcome to Javascript fullstack course</span>  
      </a>
      <!-- Card -->
      <div class="w-full max-w-xl p-6 space-y-8 sm:p-8 bg-white rounded-lg shadow dark:bg-gray-800">
          <h2 class="loginTitle text-xl font-bold text-gray-900 dark:text-white">
              Sign in by entering your correct credentials 
          </h2>

            <form [formGroup]="editFormGroup" (ngSubmit)="onSubmitLoginForm()" class="mt-8 space-y-6">
                <div *ngIf="genericErrorMessage$ | async" class="">
                    <span aria-label="Generic error" class="text-red-400">{{genericErrorMessage$ | async }}</span>
                </div>
              <div>
                  <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your username</label>
                  <input type="email" id="username" [formControlName]="'username'" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="name@company.com" required="">
                  <div *ngIf="!editFormGroup.get('username')?.valid && editFormGroup.get('username')?.touched" class="tw-leading-[18px]">
                    <span
                        aria-label="Email is required error"
                        *ngIf="editFormGroup.get('username')?.errors?.['required']"
                        class="text-red-400">Username is required</span>
                </div>
                </div>
              <div>
                  <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your password</label>
                  <input type="password" id="password" [formControlName]="'password'" placeholder="••••••••" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" required="">
                  <div *ngIf="!editFormGroup.get('[password]')?.valid && editFormGroup.get('password')?.touched" class="tw-leading-[18px]">
                    <span
                        aria-label="Password is required error"
                        *ngIf="editFormGroup.get('password')?.errors?.['required']"
                        class="text-red-400">Password is required</span>
                </div>
            </div>
              <div class="flex items-start">
                  <div class="flex items-center h-5">
                      <input id="remember" aria-describedby="remember" name="remember" type="checkbox" class="w-4 h-4 border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-primary-300 dark:focus:ring-primary-600 dark:ring-offset-gray-800 dark:bg-gray-700 dark:border-gray-600" required="">
                  </div>
                  <div class="ml-3 text-sm">
                  <label for="remember" class="font-medium text-gray-900 dark:text-white">Remember me</label>
                  </div>
                  <a href="#" class="ml-auto text-sm text-primary-700 hover:underline dark:text-primary-500">Lost Password?</a>
              </div>
              <button type="submit" id="loginButton" class="w-full px-5 py-3 text-base font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 sm:w-auto dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Login to your account</button>
              <div class="text-sm font-medium text-gray-500 dark:text-gray-400">
                  Not registered? <a class="text-primary-700 hover:underline dark:text-primary-500">Create account</a>
              </div>
          </form>
      </div>
  </div>
  
  </main>